.header {
  background-color: rgba(238, 238, 238, 0.8);
  padding: 5px 10px;
  font-size: 1.2rem;
  line-height: 1.6rem;
}
.home__link {
  width: 35px;
  font-size: 1.6rem;
  padding-bottom: 5px;
  padding-right: 5px;
}
.home__link:hover {
  border-bottom: none;
  color: #660066;
}
